

#canva {
    background-color: white;
    min-height: 15%;
    border-radius: 2px;
    grid-column: 3;
    border: 2px solid rgba(156, 39, 176, 0.15);
    border-radius: 3px;
}

#h2_dd {
    color: #9C27B0;
}

.miniColor {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    margin: 6px;
    border:1px solid white; 
}

.miniColor:hover{ 
    border:1px solid transparent;
}

.link {
    color: #9C27B0;
    font-weight: 600;
}

.heart {
    color: red;
    font-size: 14px;
}

#div_footer {
    text-align: center;
}

body {
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgTitle {
    transition: height 0.1s;
}

#div-menu {
    padding-top: 7rem;
}

#div_canvas {
    height: 650px;
}


.pr-2 {
    padding-right: 8px !important;
}

svg:not(:root) {
    overflow: hidden;
}

.octicon {
    vertical-align: text-bottom;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.grid {
    margin-top: 50px;
    grid-template-columns: 40px 170px auto 170px 40px;
    display: grid;
}

ul li {
    list-style-type: none;
}

.title {
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 1.1em;
}

.container {
    margin: 0 auto;
    width: 78%;
    margin-top: 50px;
}

#div_colorHeader {
    border-bottom: 1px solid rgba(121, 85, 72, 0.32); 
    color: #9E9E9E;
}

    #div_colorHeader > h4 {
        margin: 10px 0;
    }

#div_colorBox {
    height: 250px;
    width: 150px;
    background-color: white;
    grid-column: 2;
    padding: 0 5px 0 5px;
    border-radius: 3px;
    border: 2px solid rgba(156, 39, 176, 0.15);
}

.made {
    color: #795548;
    font-weight: 600;
}
